<!doctype html>
<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

 {% load staticfiles %}
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="Search Results Page">
  <title>Sample Search Results Page</title>

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Search results page">
  <link rel="stylesheet" href="{% static 'styles/main.css' %}">
  <!-- endbuild-->

  <!-- build:js bower_components/webcomponentsjs/webcomponents-lite.min.js -->
  <script src="{% static 'bower_components/webcomponentsjs/webcomponents.js' %}"></script>
  <!-- endbuild -->

  <!-- Because this project uses vulcanize this should be your only html import
       in this file. All other imports should go in elements.html -->
  <link rel="import" href="{% static 'search.html' %}">
  <link rel="import" href="{% static 'sort.html' %}">
</head>

<body>
<div>
<p><b>Question 1</b></p>
<custom-sort></custom-sort>
</div>
<div>
<p><b>Question 3</b></p>
<search-input></search-input>
</div>
<!-- <ajax-element></ajax-element> -->
<!-- <ajax-multiple></ajax-multiple> -->
</body>

</html>
