<link rel="import" href="https://cdn.rawgit.com/Download/polymer-cdn/master/lib/polymer/polymer.html" />
<link rel="import" href="https://cdn.rawgit.com/Download/polymer-cdn/master/lib/iron-ajax/iron-ajax.html" />

<style>
    iron-image {
      background-color: lightgray;
      margin: 1em;
    }
    .horizontal-section {
      max-width: 300px;
      margin-bottom: 24px;
    }
  </style>
</head>
<body unresolved>
  <h1>Video Feed</h1>
  <div class="horizontal-section-container">
    <template is="dom-bind" id="app">
      <iron-ajax auto
          url="https://www.googleapis.com/youtube/v3/search"
          params='{"part":"snippet", "q":"polymer", "key": "AIzaSyAuecFZ9xJXbGDkQYWBmYrtzOGJD-iDIgI", "type": "video"}'
          handle-as="json"
          last-response="{{ajaxResponse}}"></iron-ajax>

        <template is="dom-repeat" items="[[ajaxResponse.items]]">
          <div class="horizontal-section">
            <h2><a href="[[url(item.id.videoId)]]" target="_blank">[[item.snippet.title]]</a></h2>
            <iron-image src="[[item.snippet.thumbnails.high.url]]" width="256" height="256" sizing="cover" preload fade></iron-image>
            <p>[[item.snippet.description]]</p>
          </div>
        </template>

    </template>
  </div>

  <script>
    var app = document.querySelector('#app');

    app.url = function (videoId) {
      return 'https://www.youtube.com/watch?v=' + videoId;
    };
  </script>
</body>
</html>