<link type="import" href="bower_components/polymer/polymer.html">
<link type="import" href="bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="https://cdn.rawgit.com/Download/polymer-cdn/master/lib/polymer/polymer.html" />
<link rel="import" href="https://cdn.rawgit.com/Download/polymer-cdn/master/lib/iron-ajax/iron-ajax.html" />

<dom-module id="search-input">	
	<style>
    ul{
    	list-style: none;
    }
    li{
    	display: block;
    	padding: 20px;
    }
    li + li{
    	border-top: solid 1px #eee;
    }
    li p
    {
    	padding: 0 40px 0 0;
    }
	</style>
	
	<template>
		<div id="custom-search-input">
          <div class="input-group col-md-12">
            <input type="text" class="  search-query form-control" placeholder="Search" search-url="/search/results/" search-item="simon" value="{{inputValue::input}}" />
            <span class="input-group-btn">
              <button class="btn btn-danger" type="button" on-tap="searchResults" id="searchbutton">Search
              </button>
            </span>
            <div>
            <ul>
            <template is="dom-repeat" items="{{search_results}}">
            	<li>
            		<p>{{item.title}}</p>
            		<p>{{item.description}}</p>
            	</li>
            </template>

            <template is="dom-bind" id="app">
		      <iron-ajax
		      	  auto
		      	  id="ajax"
		      	  method="get"
		          url="http://127.0.0.1:8000/search/results/"
		          handle-as="json"
		          on-response="postComplete"
		          last-response="{{search_results}}"></iron-ajax>

		        <template is="dom-repeat" items="{{search_results.results}}">
		          <li>
            		<p>{{item.title}}</p>
            		<p>{{item.description}}</p>
            	</li>
		        </template>

		    </template>

            </ul>
            </div>
          </div>
        </div>
	</template>
</dom-module>

<script>

	Polymer({
		is: "search-input"
	})
</script>

