<link type="import" href="bower_components/polymer/polymer.html">

<dom-module id="custom-sort">	
	<style>
	</style>
	<template>
		<div>
        <p>Question One: This displays the list of sorted data</p>
        <div>The sorted keys are <br/>{{sortedKeysItems}}</div>
        <div>The sorted values are <br/>{{sortedValuesItems}}</div>
        <div>{{sortedItems}}</div>
        </div>
	</template>
</dom-module>
<script>
	Polymer({
		is: "custom-sort",
        properties: {
            sortItems: {
                type: String,
                value: "{'34': 'thirty-four', '90': 'ninety','91': 'ninety-one','21': 'twenty-one','61': 'sixty-one', '9': 'nine','2': 'two', '6':'six', '3': 'three','8': 'eight', '80': 'eighty', '81': 'eighty-one','99': 'Ninety-Nine', '900': 'nine-hundred'}"
            },
            sortedKeysItems: {
                type: String,
                computed: "getSortedKeysData(sortItems)"
            },
            sortedValuesItems: {
                type: String,
                computed: "getSortedValuesData(sortItems)"
            }
        },
        getSortedKeysData(sortItems){
            var keys = {
                '34': 'thirty-four',
                '90': 'ninety',
                '91': 'ninety-one',
                '21': 'twenty-one',
                '61': 'sixty-one', 
                '9': 'nine',
                '2': 'two', 
                '6':'six', 
                '3': 'three',
                '8': 'eight', 
                '80': 'eighty', 
                '81': 'eighty-one',
                '99': 'Ninety-Nine', 
                '900': 'nine-hundred'};
            keys = Object.keys(keys).sort();
            return keys
        },
        getSortedValuesData(sortItems){
            var values = {
                '34': 'thirty-four',
                '90': 'ninety',
                '91': 'ninety-one',
                '21': 'twenty-one',
                '61': 'sixty-one', 
                '9': 'nine',
                '2': 'two', 
                '6':'six', 
                '3': 'three',
                '8': 'eight', 
                '80': 'eighty', 
                '81': 'eighty-one',
                '99': 'Ninety-Nine', 
                '900': 'nine-hundred'};
            values = Object.values(values).sort();
            return values
        }
	})
</script>